<header class="header">
    <div class="container container--header">
        <div class="header__inner">
            <div class="header__inner--top-line">
                <div class="container container--inner">
                    <div class="header-start">
                        <div class="header-city">
                            <li>Санкт-Петербург <img src="assets/images/icon-2.svg" alt=""></li>
                            <nav class="nav-city">
                                <ul>
                                    <li> <a href="">Москва</a></li>
                                    <li> <a href="">Казань</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-phone">
                            <a href="tel:+78126135838">+7 (812) 613-58-38</a>
                        </div>
                        <div class="header-time">
                            Пн-пт 10:00-19:00, сб-вс 10:00-17:00
                        </div>
                    </div>
                    <div class="header-end">
                        <div class="header-mail">
                            <a href="mailto:mail@example.com">Напишите нам</a>
                        </div>
                        <div class="header-mailDirector">
                            <a href="mailto:mail@example.com">Свяжитесь с директором</a>
                        </div>
                        <div class="header-icon">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#telegram"></use>
                                    </svg>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#skype"></use>
                                    </svg>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__inner--second-line">
                <div class="container container--inner">
                    <div class="hamburger">
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                      </div>
                    <div class="header-logo">
                        <img src="assets/images/logo.svg" alt="">
                        <h1 class="header-h1">
                            Ваш эксперт <br>
                            на рынке <span class="header-span">3D</span>-техники
                        </h1>
                    </div>
                    <div class="header-market">
                        <img src="assets/images/market.svg" alt="">
                    </div>
                    <div class="header-formSearch">
                        <div class="d2">
                            <form>
                                <input type="text" placeholder="Введите запрос, например, Formlabs Form 2">
                                <button type="submit">Найти</button>
                            </form>
                        </div>
                    </div>
                    <div class="search-mb">
                        <img src="assets/images/cart-mobile.svg" alt="">
                    </div>
                    <div class="header-login">
                        <img src="assets/images/login.svg" alt="">
                        Войти
                    </div>
                    <div class="header-cart">
                        <button class="btn btn--header" type="button"><img src="assets/images/cart.svg" alt="">Корзина пуста</button>
                    </div>
                    <div class="cart-mb">
                        <a href=""><img src="assets/images/search-icon.svg" alt=""></a>
                    </div>
                </div>
                <div class="modal">
                    <div class="header-login header-login--mobile">
                        <img src="assets/images/login.svg" alt="">
                        Войти
                    </div>
                    <div class="header-menu header-menu--mobile">
                        <li class="catalog-mb">Каталог <img src="assets/images/icon-1.svg" alt=""></li>
                        <div class="menu__item--mobile">
                            <li class="menu__item--mobile__link">3D-принтеры <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link--mobile">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item--mobile">
                            <li class="menu__item--mobile__link">3D-сканеры <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link--mobile">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item--mobile">
                            <li class="menu__item--mobile__link">Станки <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link--mobile">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item--mobile">
                            <li class="menu__item--mobile__link">Роботы <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link--mobile">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item--mobile">
                            <li class="menu__item--mobile__link">Образование <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link--mobile">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item--mobile">
                            <li class="menu__item--mobile__link">Стоматологам <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link--mobile">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item--mobile">
                        <li class="menu__item--mobile__link">Гаджеты <img src="assets/images/icon-1.svg" alt=""></li>
                        <nav class="menu__item-link--mobile">
                            <ul>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu__item--mobile">
                        <li class="menu__item--mobile__link">Материалы <img src="assets/images/icon-1.svg" alt=""></li>
                        <nav class="menu__item-link--mobile">
                            <ul>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu__item--mobile">
                        <li class="menu__item--mobile__link">ПО <img src="assets/images/icon-1.svg" alt=""></li>
                        <nav class="menu__item-link--mobile">
                            <ul>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu__item--mobile">
                        <li class="menu__item--mobile__link">Решения <img src="assets/images/icon-1.svg" alt=""></li>
                        <nav class="menu__item-link--mobile">
                            <ul>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu__item--mobile">
                        <li class="menu__item--mobile__link">Учебный центр <img src="assets/images/icon-1.svg" alt=""></li>
                        <nav class="menu__item-link--mobile">
                            <ul>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menu__item--mobile">
                        <li class="menu__item--mobile__link">Услуги <img src="assets/images/icon-1.svg" alt=""></li>
                        <nav class="menu__item-link--mobile">
                            <ul>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                                <li> <a href="">Элемент</a></li>
                            </ul>
                        </nav>
                    </div>
                    </div>
                    <nav class="header-nav header-nav--mobile">
                        <ul class="header-ul header-ul--mobile">
                            <li><a href="">Акции</a></li>
                            <li><a href="">О нас</a></li>
                            <li><a href="">Мероприятия</a></li>
                            <li><a href="">Оплата и доставка</a></li>
                            <li><a href="">Что с моим заказом?</a></li>
                            <li><a href="">Гос. закупки</a></li>
                            <li><a href="">Блог</a></li>
                            <li><a href="">Мастер-классы</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="header-end--mobile">
                        <div class="header-mail header-mail--mobile">
                            <a href="mailto:mail@example.com">Напишите нам</a>
                        </div>
                        <div class="header-mailDirector header-mailDirector--mobile">
                            <a href="mailto:mail@example.com">Свяжитесь с директором</a>
                        </div>
                        <div class="header-icon header-icon--mobile">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#telegram"></use>
                                    </svg>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#skype"></use>
                                    </svg>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__inner--nav">
                <div class="container container--nav">
                    <nav class="header-nav">
                        <ul class="header-ul">
                            <li><a href="">Акции</a></li>
                            <li><a href="">О нас</a></li>
                            <li><a href="">Мероприятия</a></li>
                            <li><a href="">Оплата и доставка</a></li>
                            <li><a href="">Что с моим заказом?</a></li>
                            <li><a href="">Гос. закупки</a></li>
                            <li><a href="">Блог</a></li>
                            <li><a href="">Мастер-классы</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__inner--menu">
                <div class="container container--nav">
                    <div class="header-menu">
                            <div class="menu__item">
                                <li>3D-принтеры <img src="assets/images/icon-1.svg" alt=""></li>
                                <nav class="menu__item-link">
                                    <ul>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="menu__item">
                                <li>3D-сканеры <img src="assets/images/icon-1.svg" alt=""></li>
                                <nav class="menu__item-link">
                                    <ul>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="menu__item">
                                <li>Станки <img src="assets/images/icon-1.svg" alt=""></li>
                                <nav class="menu__item-link">
                                    <ul>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="menu__item">
                                <li>Роботы <img src="assets/images/icon-1.svg" alt=""></li>
                                <nav class="menu__item-link">
                                    <ul>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="menu__item">
                                <li>Образование <img src="assets/images/icon-1.svg" alt=""></li>
                                <nav class="menu__item-link">
                                    <ul>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="menu__item">
                                <li>Стоматологам <img src="assets/images/icon-1.svg" alt=""></li>
                                <nav class="menu__item-link">
                                    <ul>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                        <li> <a href="">Элемент</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="menu__item">
                            <li>Гаджеты <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item">
                            <li>Материалы <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item">
                            <li>ПО <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item">
                            <li>Решения <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item">
                            <li>Учебный центр <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu__item">
                            <li>Услуги <img src="assets/images/icon-1.svg" alt=""></li>
                            <nav class="menu__item-link">
                                <ul>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                    <li> <a href="">Элемент</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</header>
